# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Mapping

/_maps @BeeStation/beestation-mapping

# MasonMiami

.dockerignore @MasonMiami
.github @MasonMiami
/code/_compile_options.dm @MasonMiami
/code/modules/tgs @MasonMiami
dependencies.sh @MasonMiami
Dockerfile @MasonMiami
/SQL @MasonMiami
/tools @MasonMiami
/config @MasonMiami

# MasonMiami (explicitly disowned)

/tools/UpdatePaths/Scripts/
/tools/maplint/lints/

# MasonMiami

/code/game/machinery/shuttle @MasonMiami
/code/modules/shuttle/super_cruise @MasonMiami
/code/modules/shuttle/shuttle_creation @MasonMiami

# MasonMiami

/tools/MapTileAggregator.py @MasonMiami
/code/modules/admin/player_panel.dm @MasonMiami
/code/modules/tgui_input/ @MasonMiami
/tgui/packages/tgui/interfaces/PlayerPanel.js @MasonMiami
/code/modules/multiz/ @MasonMiami
/code/modules/client/login/ @MasonMiami
/code/modules/client/preferences/ @MasonMiami

# MasonMiami (explicitly disowned)

/code/modules/client/preferences/entries/

# MasonMiami

/code/controllers/subsystem/dynamic @MasonMiami
